/**************
    BASE RULES 
***************/
html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Open Sans',sans-serif;
    min-width: 1440px;
}

/**************
    STRUCTURE 
 **************/

 #jump{
     height: 100px;
     margin-top: 70px;
 }

.nav_column, 
.partner .image_left,
.partner .txt_right,
.box .internal_box,
.box_bottom .trial_campaign,
.box_bottom .free_trial{
    float: left;
    width: 50%;
}

.title,
.row .table_bottom,
.QA .FAQ{
    float: left;
    width: 100%;
}

.txt_column{
    float: left;
    width: 40%;
}

.img_column{
    float: left;
    width: 60%;
}

.table_bottom .col_left{
    float: left;
    width: 70%;
}

.table_bottom .col_right{
    float: left;
    width: 30%;
}


.container_60{
    width: 60%;
    margin: auto;
}

.container_80{
    width: 80%;
    margin: auto;
}

.row .column{
    float: left;
    width: 31%;
    margin: 30px 0px;    
}

.operations .instruments{
    float: left;
    width: 30%;
    margin: 30px 0px;
}

.row .middle{
    margin: 30px 3.5%;
}

.operations .mid{
    margin: 30px 5%;
}


.client_logo{
    width: 100%;
    margin-top: 40px;
}

.client_logo .box{
    float: left;
    width: 30%;
}

.client_logo .client_mid{
    float: left;
    width: 40%;
}

footer{
    margin-top: 40px;
    background-color: black;
    margin: auto;
}

footer .footer_column{
    float: left;
    width: 12%;
    margin-right: 5%;
}

.jumbo_container{
    width: 80%;
    margin: auto;
    position: absolute;
    top: 190px;
    left: 10%;
}

/**************
    UTILITY 
 **************/

.sect_title{
    padding-top: 150px;
 }
 
.nav a,
.button a,
.partner a,
.language a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
    
.button .btn_blue{
    color: white;
    background-color: #0061FF;
    padding: 7px 20px;
}
    

.button .btn_gray{
background-color: white;
    padding: 7px 60px;
}

.jumbotron_bg{
    background-color: #B4D0E7;
    width: 100%;
    height: 900px;
}
    
.page_link,
.page_link > li{
    list-style: none;
    display: inline-block;
}

.txt_gray{
    color: #6A7986;
    font-weight: bold;
    font-size: 0.8rem;
}

.row .border_gray{
    border: 1px solid lightgrey;
}

h2{
    font-size: 2.8rem;
    margin-bottom: 40px;
}

.underline{
    text-decoration: underline;
}

/*****************
        HEADER
*******************/
    
.nav{
    position: fixed;
    width: 100%;
    z-index: 10000000;
    background-color: white;
}

.nav a{
     margin: 0px 20px;
}

.nav_column{
    height: 100px;
}
    
.nav .left{
    padding-top: 30px;
}
       
    
.nav .right{
    padding-top: 33px;
    text-align: right;
    padding-right: 40px;
}
       
       
.nav_column img{
    vertical-align: bottom;
    padding-left: 20px;
    margin-right: 20px;
}

.right .btn_blue{
    margin-left: 20px;
}
    
.nav .button{
    display: inline-block;
}


/******************
        JUMBOTRON 
********************/

.jumbo_container .title{
    font-size: 5rem;
    margin-bottom: 50px;
}

.jumbo_container li{
    list-style: none;
    padding-bottom: 50px;
}

.jumbo_text .button{
    padding-bottom: 15px;
}

.jumbo_img{
    width: 100%;
}

.txt_column .jumbo_text{
    width: 450px;
}

.jumbo_text .descript{
    font-size: 1.1rem;
    font-weight: 600;
}

.jumbo_text .arrow_down a{
    font-size: 2rem;
    color: black;
}


/********************
        PLANS 
 *********************/

#plan_price h2{
    margin-top: -100px;
}

.sect_title label{
    margin-right: 20px;
}

.plans input{
    margin-bottom: 30px;
}

.plans h4{
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 8px 0px;
}

.container_60 li,
footer .index_links li{
    list-style: none;
    margin-bottom: 20px;
}

.container_60 h3{
    font-size: 1.7rem;
}

.plans .amount{
    font-weight: bold;
}

.column > div,
.col_left .enterprise{
    margin-top: 40px;
    margin-left: 40px;
}

.plans .specs li,
.font_small{
    font-size: 0.9rem;
    font-weight: 600;
}

.plans li p,
.feature li p{
    display: inline-block;
    width: 83%;
    vertical-align: top;
}

.plans .btn_blue{
    font-size: 0.9rem;
    text-align: center;
    padding: 7px 50px;
}

.border_bot{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 40px;
}

.blue_under{
    color: #0061FF;
}

.plans h5{
    padding-top: 40px;
    font-weight: 700;
    padding-bottom: 30px;
    font-size: 1rem;
}

.feature .fa-check{
    color: #0061FF;
}

.feature li{
    font-size: 0.9rem;
    font-weight: 600;
}


.plans .column{
    min-height: 1440px;
}

.col_left .enterprise h5{
 padding: 0px;
}

.table_bottom .col_right {
    padding-top: 50px;
}

/********************
        PARTNER 
 ********************/


.partner{
    padding-top: 170px;
}


.partner img{
    width: 100%;
}

.btn .btn_white{
    background-color: white;
    padding: 7px 20px;
    border: 1px solid black;
    font-size: 00.9rem;
}

.enterprise .font_small{
    line-height: 25px;
    width: 75%;
    padding-bottom: 15px;
}

/******************
    OPERATIONS 
*******************/

.operations img{
    width: 100%;
}

.operations .font_small{
    width: 85%;
}

/*****************
      CLIENTS 
*******************/

.client_title{
    width: 57%;
}

.client_logo .client_mid{
    background-color: #F5F5F5;
    height: 500px;
    position: relative;
}

.internal_box img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

.internal_box{
    position: relative;
    height: 250px;
}

.designit{
    background-color: #A2D39B;
    border: 10px solid #D0E9CD;
}

.arizona{
    background-color: #61082B;
}

#ASU{
    width: 40%;
}

.florida{
    background-color: #0093CE;
}

.topps{
    background-color: #FF1C1C;
}

.client_mid img{
    width: 132.72px;
    position: absolute;
    top: 12%;
    left: 13%;

}

.client_mid p{
    width: 74%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
}

.client_mid h6{
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    left: 13%;
    bottom: 25%;
}

.world_bicycle{
    background-color: #D5001F;
}

.hearst{
    background-color: #B4D0E7;
}

.lonely_planet{
    background-color: #0D2481;
}

.clear_channel{
    background-color: #FFD830;
}

.trial_campaign h2{
    width: 60%;
    color: #61082B;
    position: absolute;
    top: 35%;
    right: 0px ;
}

.box_bottom{
    background-color: #B4D0E7;
}

.trial_campaign,
.free_trial{
    position: relative;
    height: 400px;
}


.free_trial .btn_gray{
    position: absolute;
    top: 38%;
    left: 25%;
}


/*****************
        FAQS 
*****************/

.FAQ{
    padding: 30px 0px;
    border-top: 1px solid lightgrey;
    height: 83px;
    transition: ease 500ms;
    overflow: hidden;
}

.FAQ h5{
    font-size: 1rem;
    font-weight: 700;
    border-bottom: 40px;
    position: relative;
}

.FAQ .fa-chevron-up,
.FAQ:hover .fa-chevron-down{
    display: none;
}

.FAQ .fa-chevron-down,
.FAQ .fa-chevron-up{
    font-size: 0.9rem;
    position: absolute;
    right: 40px;
}

.FAQ:hover{
 height: 167px;
}

.FAQ p{
    margin-top: 40px;
}

.FAQ:hover .fa-chevron-up{
    display: inline-block;
}

.QA{
    margin-bottom: 150px;
}

/*****************
        FOOTER 
******************/

footer{
height: 600px;
}

footer{
    color: white;
    position: relative;
}

footer h5{
    font-size: 1.1rem;
    margin-bottom: 30px;
}

footer .index_links li{
    font-size: 0.9rem;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.footer_column{
    padding-top: 70px;
}

footer .column{
    position: relative;
}

footer .language{
    color: gray;
    position: absolute;
    bottom: 50px;
    left: 12%;
    font-size: 0.8rem;
    width: 100px;
    border-top: 1px solid gray;
    padding-top: 40px;
}

/*****************
        EFFECTS
******************/
.page_link li a{
    padding-bottom: 44px; 
}
    
.page_link li:hover a{
    border-bottom: 2px solid black;

}

.submenu{
    position: relative;
}

.submenu:hover .submenu_cont{
    display: block;
}

.submenu_cont{
    display: none;
    position: absolute;
    min-width: 200px;
    text-align: left;
    top: 67.5px;
    left: 17px;
    background-color: white;

}

.submenu_cont li{
    padding: 10px 20px;
    list-style: none;
    font-size: 0.9rem;
}

.submenu_cont li:hover{
    background-color: lightgray;
    cursor: pointer;
}

.button .btn_blue:hover{
    background-color: #0062ffb6;
}

.btn .btn_white:hover,
.button .btn_gray:hover{
    background-color: rgb(238, 238, 238);
}