/*************
    GENERAL 
**************/
.nav{
    border-bottom: 1px solid lightgray
}

.container_50{
    width: 40%;
    margin: auto;
    padding-top: 200px;
}

main .img_container,
main .signin,
main .txt_left,
main .txt_right{
    width: 50%;
}

.login_btn .icon,
.login_btn .btn_txt,
.fillup,
main .img_container,
main .signin,
main .txt_left,
main .txt_right,
footer .index{
    float: left;
}

.signin .txt_left,
.signin .txt_right{
    margin: 20px 0px;
}

main{
    padding-bottom: 200px;
}

/**************
       MAIN 
***************/


.signin .txt_right{
    text-align: right;
}

.signin .txt_left{
    font-size: 1.2rem;
}

.signin .txt_right{
    font-size: .9rem;
    padding-top: 6px;
}

.signin .txt_blue{
    color: #0061FF;
}

.login_btn .icon{
    width: 10%;
    border-right: 1px solid rgba(245, 245, 245, 0.212);
    text-align: center;
    filter: invert(100%);
}

.login_btn .btn_txt{
    width: 90%;
    text-align: center;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
}

.login_btn{
    width: 100%;
    padding: 3px 5px;
    border: 1px solid rgba(0, 0, 0, 0.384);
    border-radius: 3px;
    margin: 35px 0px;
}

.login_btn.google{
    background-color: #0061FF;
}

.login_btn.apple{
    background-color: black;
}

.divider{
    width: 100%;
    border-bottom: 1px solid lightgray;
    text-align: center;
    line-height: 0px;
    margin-bottom: 30px;
}

.divider .divider_txt{
    background-color: white;
    padding: 0px 5px;
    font-size: 0.9rem;
}

.fillup{
    width: 100%;
    margin: 10px 0px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-size: 1rem;
    padding-left: 10px;
}

.login_opt .btn_blue{
    font-weight: 600;
    border: none;
}

.remember label,
.forgot a{
    font-size: 0.9rem;
}

.signin a{
    text-decoration: none;
}


/****************
       FOOTER 
*****************/

footer{
    padding-top: 50px;
    border-top: 1px solid lightgray;
    position: relative;
    width: 60%;
    margin: auto;
}

footer .column{
    width: 10%;
    font-size: 1rem;
    margin: 0% 2%;
    padding-bottom: 200px;
}

footer .txt_gray{
    width: 100%;
}

footer .english{
    width: 40%;
    text-align: right;
    padding-right: 10px;
}

.index li{
    list-style: none;
    font-size: 0.9rem;
    padding-bottom: 5px;

}

.index li a{
    text-decoration: none;
    color: gray;
    font-weight: 500;
}
