/**************
    BASE RULES 
***************/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Open Sans',sans-serif;;
}

/**************
    STRUCTURE 
 **************/

 #jump{
     padding-top: 100px;
     height: 200px;
 }

.nav_column, 
.partner .image_left,
.partner .txt_right,
.box .internal_box,
.box_bottom .trial_campaign,
.box_bottom .free_trial{
    float: left;
    width: 50%;
}

.title,
.row .table_bottom,
.QA .FAQ{
    float: left;
    width: 100%;
}

.txt_column{
    float: left;
    width: 40%;
}

.img_column{
    float: left;
    width: 60%;
}

.table_bottom .col_left{
    float: left;
    width: 70%;
}

.table_bottom .col_right{
    float: left;
    width: 30%;
}


.container_60{
    width: 60%;
    margin: auto;
}

.container_80{
    width: 80%;
    margin: auto;
}

.row .column,
.operations .instruments{
    float: left;
    width: 31%;
    margin: 30px 0px;    
}

.row .middle,
.operations .mid{
    margin: 30px 3.5%;
}

.partner{
    margin: 20px 0px;
}

.clients .client_logo{
    width: 100%;
margin-top: 40px;
}

.client_logo .box{
    width: 33.33%;
    float: left;
}

footer{
    margin-top: 40px;
    background-color: black;
    margin: auto;
}

footer .footer_column{
    float: left;
    width: 15%;
    margin-right: 5%;
}

.jumbo_container{
    width: 80%;
    margin: auto;
    position: absolute;
    top: 20%;
    left: 10%;
}

/**************
    UTILITY 
 **************/
 
.nav a,
.button a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
    
.button .btn_blue{
    color: white;
    background-color: #0061FF;
    padding: 7px 20px;
}
    
.jumbotron_bg{
    background-color: #B4D0E7;
    width: 100%;
    height: 900px;
}
    
.page_link,
.page_link li{
    list-style: none;
    display: inline-block;
}

.txt_small{
    font-size: 0.9rem;
}

.gray_txt{
    color: #6A7986;
    font-weight: bold;
    font-size: 0.8rem;
}

.row .border_gray{
    border: 1px solid lightgrey;
}

/*****************
        HEADER
*******************/
    
.nav{
    position: fixed;
    width: 100%;
    z-index: 10000000;
    background-color: white;
}

.nav a{
     padding: 0px 20px;
}

.nav_column{
    height: 100px;
}
    
.nav .left{
    padding-top: 30px;
}
       
    
.nav .right{
    padding-top: 38px;
    text-align: right;
    padding-right: 40px;
}
       
       
.nav_column img{
    vertical-align: bottom;
    padding-left: 20px;
    margin-right: 20px;
}

.right .btn_blue{
    margin-left: 20px;
}
    



/******************
        JUMBOTRON 
********************/

.jumbo_container .title{
    font-size: 5.5rem;
    margin-bottom: 50px;
}

.jumbo_container li{
    list-style: none;
    padding-bottom: 50px;
}

.jumbo_img{
    width: 100%;
}

.txt_column .jumbo_text{
    width: 450px;
}

.jumbo_text .descript{
    font-size: 1.1rem;
    font-weight: 600;
}

.jumbo_text .arrow_down a{
    font-size: 2rem;
    color: black;
}


/********************
        PLANS 
 *********************/

.plans h2{
    font-size: 3rem;
    margin-bottom: 70px;
}

.sect_title label{
    margin-right: 20px;
}

.plans input{
    margin-bottom: 30px;
}

.plans h4{
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 8px 0px;
}

.plans li{
    list-style: none;
    margin-bottom: 20px;
}

.plans h3{
    font-size: 1.7rem;
}

.plans .amount{
    font-weight: bold;
}

.column > div,
.col_left .enterprise{
    margin-top: 40px;
    margin-left: 40px;
}

.plans .specs li,
.plans .font_small{
    font-size: 0.9rem;
    font-weight: 600;
}

.plans li p,
.feature li p{
    display: inline-block;
    width: 83%;
    vertical-align: top;
}

.plans .btn_blue{
    font-size: 0.9rem;
    text-align: center;
    padding: 7px 50px;
}

.border_bot{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 40px;
}

.plans .buy_now{
    color: #0061FF;
}

.plans h5{
    padding-top: 40px;
    font-weight: 700;
    padding-bottom: 30px;
    font-size: 1rem;
}

.feature .fa-check{
    color: #0061FF;
}

.feature li{
    font-size: 0.9rem;
    font-weight: 600;
}

.plans .middle{
    padding-bottom: 242px;
}

.plans aside{
    padding-bottom: 300px;
}

.col_left .enterprise h5{
 padding: 0px;
}

.table_bottom .col_right {
    padding-top: 50px;
}

/*****************
        DEBUG 
******************/
    
    
.debug .nav .left{
    background-color: aqua;
    height: 100px;
}
    
.debug .nav .right{
    background-color: aquamarine;
    height: 100px;
}
    
.debug .jumbotron_bg{
    background-color: skyblue;
    height: 650px;
}
    

.debug .jumbo_container{
    background-color: slateblue;
    height: 600px;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 10%;
}

.debug .title{
    height: 200px;
    background-color: slategray;
}

.debug .txt_column{
    height: 400px;
    background-color: steelblue;
}

.debug .sect_title{
    height: 200px;
    background-color: tan;
    margin-top: 100px;
}

.debug .row .column{
    height: 600px;
    background-color: teal;
}
.debug .row .table_bottom{
    height: 200px;
    background-color: thistle;
}

.debug .partner .image_left{
    height: 450px;
    background-color: tomato;
}

.debug .partner .txt_right{
    height: 450px;
    background-color: violet;
}


.debug .operations .instruments{
    height: 300px;
    background-color: cornflowerblue;
}

.debug .clients .client_logo{
    background-color: darkgoldenrod;
    height: 500px;
}

.debug .client_logo .left,
.debug .client_logo .right{
    height: 100%;
    background-color: darkmagenta;
}

.debug .client_logo .middle{
    height: 100%;
    background-color: darkolivegreen;
}

.debug .box .tl,
.debug .box .br{
    height: 250px;
    background-color: darkorange;
}

.debug .box .tr,
.debug .box .bl{
    background-color: deepskyblue;
    height: 250px;
}

.debug .box_bottom{
    height: 400px;
    background-color: rgb(37, 81, 124);
}

.debug .box_bottom .free_trial{
    height: 100%;
    background-color: dodgerblue;
}

.debug .QA .FAQ{
    height: 150px;
    background-color: forestgreen;
}

.debug footer{
    height: 600px;
}

.debug footer .footer_column{
    height: 400px;
    background-color: cornsilk;
}