/**************
    BASE RULES 
***************/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


/**************
    STRUCTURE 
 **************/

.nav_column, 
.partner .image_left,
.partner .txt_right,
.box .internal_box{
    float: left;
    width: 50%;
}

.title{
    float: left;
    width: 100%;
}

.txt_column{
    float: left;
    width: 40%;
}

.img_column{
    float: left;
    width: 60%;
}

.container_70{
    width: 70%;
    margin: auto;
}

.row .column,
.operations .instruments{
    float: left;
    width: 31%;
    margin: 30px 0px;    
}

.row .middle,
.operations .mid{
    margin: 30px 3.5%;
}

.row .table_bottom,
.client_logo .box_bottom{
    float: left;
    width: 100%;
}

.partner{
    margin: 20px 0px;
}

.clients .client_logo{
    width: 100%;
margin-top: 40px;
}

.client_logo .box{
    width: 33.33%;
    float: left;
}

/*****************
        DEBUG 
******************/


.debug .nav .left{
    background-color: aqua;
    height: 100px;
}

.debug .nav .right{
    background-color: aquamarine;
    height: 100px;
}

.debug .jumbotron_bg{
    background-color: skyblue;
    height: 650px;
}


.debug .jumbo_container{
    background-color: slateblue;
    height: 600px;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 10%;
}

.debug .title{
    height: 200px;
    background-color: slategray;
}

.debug .txt_column{
    height: 400px;
    background-color: steelblue;
}

.debug .sect_title{
    height: 200px;
    background-color: tan;
    margin-top: 100px;
}

.debug .row .column{
    height: 600px;
    background-color: teal;
}
.debug .row .table_bottom{
    height: 200px;
    background-color: thistle;
}

.debug .partner .image_left{
    height: 450px;
    background-color: tomato;
}

.debug .partner .txt_right{
    height: 450px;
    background-color: violet;
}


.debug .operations .instruments{
    height: 300px;
    background-color: cornflowerblue;
}

.debug .clients .client_logo{
    background-color: darkgoldenrod;
    height: 500px;
}

.client_logo .left,
.client_logo .right{
    height: 100%;
    background-color: darkmagenta;
}

.debug .client_logo .middle{
    height: 100%;
    background-color: darkolivegreen;
}

.debug .box .tl,
.debug .box .br{
    height: 250px;
    background-color: darkorange;
}

.debug .box .tr,
.debug .box .bl{
    background-color: deepskyblue;
    height: 250px;
}

.debug .box_bottom{
    height: 400px;
    background-color: rgb(37, 81, 124);
}